<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <section name="ServiceSettings" type="Sift.Resources.Settings.ServiceSettings, Sift.Resources" />
		<section name="LogSettings" type="Sift.Resources.Settings.LogSettings, Sift.Resources" />
		<section name="AdapterSettings" type="Sift.Resources.Settings.AdapterSettings, Sift.Resources" />
		<section name="ListSettings" type="Sift.Resources.Settings.ListSettings, Sift.Resources" />
	</configSections>
  <ServiceSettings LastAutomatedListUpdate="01/01/2007 12:00PM" />
	<LogSettings logLevel="Moderate" logDriver="True" logService="True" logListMatch="True" logListBlock="True" logListAllow="True" logDescisionBranch="False" />
	<!-- Adapter listing and default settings -->
	<AdapterSettings>
		<adapters>
			<adapter Id="c611928c-05dd-40b8-bbee-8b4c17dbf034" Description="Default Settings"
			  Enabled="true" FilterOutbound="true" FilterHTTP="true" />
		</adapters>
	</AdapterSettings>
	<!-- Filter lists -->
	<ListSettings>
		<listGroups>
			<listGroup Id="e52fbfde-6580-4e94-b2af-ec81a14df597" Description="Custom"
			  Enabled="true" />
		</listGroups>
	</ListSettings>
</configuration>