<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="LogSettings" type="Sift.Resources.Settings.LogSettings, Sift.Resources" />
		<section name="AdapterSettings" type="Sift.Resources.Settings.AdapterSettings, Sift.Resources" />
		<section name="ListSettings" type="Sift.Resources.Settings.ListSettings, Sift.Resources" />
	</configSections>
	<LogSettings logLevel="Moderate" logDriver="True" logService="True" logListMatch="True" logListBlock="True" logListAllow="True" logDescisionBranch="False" />
	<!-- Adapter listing and default settings -->
	<AdapterSettings>
		<adapters>
			<adapter Id="c611928c-05dd-40b8-bbee-8b4c17dbf034" Description="Default Settings"
			  Enabled="true" FilterOutbound="true" FilterHTTP="true" />
		</adapters>
	</AdapterSettings>
	<!-- Filter lists -->
	<ListSettings>
		<listGroups>
			<clear />
			<listGroup Id="db8de033-8826-4f70-8394-b96e36f03b82" Description="Advertising"
			  Enabled="true" Log="true">
				<lists>
					<list Id="64d1a547-2ac1-4590-bc5a-63ea46b64c59" Content="URL"
					  MatchAction="Block" Description="URL List" Enabled="true" />
					<list Id="9b9f95ad-35b9-4fcb-a322-22868bd22087" Content="IP"
					  MatchAction="Block" Description="IP List" Enabled="true" />
					<list Id="20d7ba1e-62d9-41f3-b4b1-dbb791c6855c" Content="Domain"
					  MatchAction="Block" Description="Domain List List" Enabled="true" />
				</lists>
			</listGroup>
			<listGroup Id="7ca02c14-8c56-4699-b9df-b5447a67366b" Description="Pornography"
			  Enabled="true" Log="true">
				<lists>
					<list Id="29f37e30-e522-4b03-834b-b5be1de468b0" Content="URL"
					  MatchAction="Block" Description="URL List" Enabled="true" />
					<list Id="513f2606-9dd2-45f8-924d-88d4d2f39057" Content="IP"
					  MatchAction="Block" Description="IP List" Enabled="true" />
					<list Id="fe320781-63fe-42e8-be9f-592cf1af7e2c" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="true" />
				</lists>
			</listGroup>
			<listGroup Id="130fc760-a97b-4cec-b953-8b0bf5054948" Description="Adult">
				<lists>
					<list Id="2fd77a85-d591-4477-b4e5-fe8348f4f4bf" Content="URL"
					  MatchAction="Block" Description="URL List" Enabled="true" />
					<list Id="3a78642e-57e1-410c-9388-7f68b9f21eae" Content="IP"
					  MatchAction="Block" Description="IP List" Enabled="true" />
					<list Id="c872facb-514b-4bf7-89f1-719baa5a7fbc" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="true" />
				</lists>
			</listGroup>
			<listGroup Id="3f501654-ecc2-43b4-bbdf-c3bf85e2545c" Description="Aggressive">
				<lists>
					<list Id="dc34751a-2fe1-495c-b7a1-389b09461c07" Content="URL" 
					  MatchAction="Block" Description="URL List" Enabled="false" />
					<list Id="df2589f2-74bc-4fb4-806b-f93ca48ed3af" Content="IP"
					  MatchAction="Block" Description="IP List" Enabled="false" />
					<list Id="09710727-c336-467c-8f91-28cd5b377da5" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="false" />					  
				</lists>
			</listGroup>
			<listGroup Id="c1cbc450-0d79-4d08-82ad-fa8f2e0c9ebd" Description="Art Nudes">
				<lists>
					<list Id="2c18f273-5aba-4708-8e03-a933df5a78a5" Content="URL" 
					  MatchAction="Block" Description="URL List" Enabled="false" />					
					<list Id="d2ea2755-5f19-42a5-8069-c1d5f722112b" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="false" />					  
				</lists>
			</listGroup>
			<listGroup Id="353f9839-2f53-4339-9637-758b62f4d917" Description="Chat">
				<lists>
					<list Id="186e52b1-1719-4f9e-b5b2-4645c77ff39e" Content="URL" 
					  MatchAction="Block" Description="URL List" Enabled="false" />
					<list Id="e329b881-6af0-43b8-8664-6d1bf0494cdb" Content="IP"
					  MatchAction="Block" Description="IP List" Enabled="false" />
					<list Id="e9afee95-d3ec-4554-bf05-6a83712e4211" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="false" />					  
				</lists>
			</listGroup>	
			<listGroup Id="b2989e57-6648-45e4-af87-585238917c48" Description="Dating">
				<lists>
					<list Id="001f8b2f-e1e8-48ff-9f2f-9792fa0c7d3a" Content="URL" 
					  MatchAction="Block" Description="URL List" Enabled="false" />					
					<list Id="860a3f74-5e6e-46f7-bae5-79a7b24f48bc" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="false" />					  
				</lists>
			</listGroup>
			<listGroup Id="dede1cba-5ec0-4a05-a631-de85dbfab035" Description="Drugs">
				<lists>
					<list Id="a2841b68-7f3a-49f6-abfe-676728625090" Content="URL" 
					  MatchAction="Block" Description="URL List" Enabled="false" />
					<list Id="6eab104c-19d5-4960-845e-cbbdedfb435c" Content="IP"
					  MatchAction="Block" Description="IP List" Enabled="false" />
					<list Id="6f18e4cd-9384-4b92-9ed5-89c62be0e7c0" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="false" />					  
				</lists>
			</listGroup>	
			<listGroup Id="8f99ccf1-025d-4c2e-b9be-5d4a9c66a694" Description="Gambling">
				<lists>
					<list Id="b8cb56e4-72fc-4b9e-be66-7dfbbe081044" Content="URL" 
					  MatchAction="Block" Description="URL List" Enabled="false" />
					<list Id="8d7d9d22-02d7-48ad-8c25-7428afdacdaa" Content="IP"
					  MatchAction="Block" Description="IP List" Enabled="false" />
					<list Id="bab05308-54ec-4cea-938d-fbe76d5e6ee4" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="false" />					  
				</lists>
			</listGroup>
			<listGroup Id="473c5646-60dd-49be-960c-7f57a859977f" Description="Hacking">
				<lists>
					<list Id="abcab839-33f5-4043-8c4f-31aaac9b80f6" Content="URL" 
					  MatchAction="Block" Description="URL List" Enabled="false" />
					<list Id="aedd8e16-ef60-4338-8ee5-3ab41a9e8110" Content="IP"
					  MatchAction="Block" Description="IP List" Enabled="false" />
					<list Id="d95ad330-3175-4086-82b7-a00ab25f328a" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="false" />					  
				</lists>
			</listGroup>		
			<listGroup Id="e6baf06a-ed87-4ce4-b932-6d409cd38d9c" Description="Job Search">
				<lists>
					<list Id="89382d36-3a14-4d3d-bf05-7d6005f9cb50" Content="URL" 
					  MatchAction="Block" Description="URL List" Enabled="false" />
					<list Id="75d3bf10-4e69-4fa8-8cfe-5b83a4a2959d" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="false" />					  
				</lists>
			</listGroup>
			<listGroup Id="c4e76a8b-214d-4848-a1e8-6f3ce54daadb" Description="Kid Time Wasting">
				<lists>
					<list Id="8ecf3e60-6b2a-4e40-baa9-cc6d6b8cb399" Content="URL" 
					  MatchAction="Block" Description="URL List" Enabled="false" />
					<list Id="9c94f0e7-6cf7-4f87-a27c-aac519d41085" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="false" />					  
				</lists>
			</listGroup>					
			<listGroup Id="382003e2-10e5-4a12-a728-0e9a056adfd2" Description="Multimedia">
				<lists>
					<list Id="f02694df-71e3-4af8-a272-ed0d84019a75" Content="URL" 
					  MatchAction="Block" Description="URL List" Enabled="false" />
					<list Id="1085c6a3-72ea-4f1d-87ea-4504a6b2238f" Content="IP"
					  MatchAction="Block" Description="IP List" Enabled="false" />
					<list Id="45e9dd43-d397-4e25-a018-fd265dd01088" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="false" />					  
				</lists>
			</listGroup>		
			<listGroup Id="e52fbfde-6580-4e94-b2af-ec81a14df597" Description="Custom"
			  Enabled="true" />
		</listGroups>
	</ListSettings>
</configuration>