<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="LogSettings" type="Sift.Resources.Settings.LogSettings, Sift.Resources" />
		<section name="AdapterSettings" type="Sift.Resources.Settings.AdapterSettings, Sift.Resources" />
		<section name="ListSettings" type="Sift.Resources.Settings.ListSettings, Sift.Resources" />
	</configSections>
	<LogSettings logLevel="Moderate" logDriver="True" logService="True" logListMatch="True" logListBlock="True" logListAllow="True" logDescisionBranch="False" />
	<!-- Adapter listing and default settings -->
	<AdapterSettings>
		<adapters>
			<adapter Id="c611928c-05dd-40b8-bbee-8b4c17dbf034" Description="Default Settings"
			  Enabled="true" FilterOutbound="true" FilterHTTP="true" />
		</adapters>
	</AdapterSettings>
	<!-- Filter lists -->
	<ListSettings>
		<listGroups>
			<clear />
			<listGroup Id="db8de033-8826-4f70-8394-b96e36f03b82" Description="Advertising"
			  Enabled="true" Log="true">
				<lists>
					<list Id="64d1a547-2ac1-4590-bc5a-63ea46b64c59" Content="URL"
					  MatchAction="Block" Description="URL List" Enabled="true" />
					<list Id="9b9f95ad-35b9-4fcb-a322-22868bd22087" Content="IP"
					  MatchAction="Block" Description="IP List" Enabled="true" />
					<list Id="20d7ba1e-62d9-41f3-b4b1-dbb791c6855c" Content="Domain"
					  MatchAction="Block" Description="Domain List List" Enabled="true" />
				</lists>
			</listGroup>
			<listGroup Id="7ca02c14-8c56-4699-b9df-b5447a67366b" Description="Pornography"
			  Enabled="true" Log="true">
				<lists>
					<list Id="29f37e30-e522-4b03-834b-b5be1de468b0" Content="URL"
					  MatchAction="Block" Description="URL List" Enabled="true" />
					<list Id="513f2606-9dd2-45f8-924d-88d4d2f39057" Content="IP"
					  MatchAction="Block" Description="IP List" Enabled="true" />
					<list Id="fe320781-63fe-42e8-be9f-592cf1af7e2c" Content="Domain"
					  MatchAction="Block" Description="Domain List" Enabled="true" />
				</lists>
			</listGroup>
			<listGroup Id="e52fbfde-6580-4e94-b2af-ec81a14df597" Description="Custom"
			  Enabled="true" />
		</listGroups>
	</ListSettings>
</configuration>